html {
  font-family: 'Lato', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}


body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;

  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

body form {
	font-weight: 300;	
	font-size: 1.1em;

	margin-bottom: 5px;
}

body form .checkbox-text {
	padding: 20px 25px 20px 10px;
	/*clear: both;*/
}

h2 {
	font-size: 2.0em;
	font-weight: 300;

	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px
}

.dropdown {
	font-size: 1.7em;
	font-weight: 300;

	float: left;
	list-style: none;
	/*margin-top: 25px;*/
}




.navbar-header {
	font-size: 2.0em;
	font-weight: 300;
	line-height: 1.42857143;
	padding-left: 25px;
}

.navbar-right {
	padding-right: 25px;
}

.container-fluid {
	padding: 0px;
}

.well {
	margin-bottom: 0px;
}

.sort-line h1 {
	font-size: 2.0em;
	font-weight: 300;
}



input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;

    /*background:white;*/
    
    border-radius:5px;
    border:1px solid #555;
}

input[type='checkbox']:checked {
    background: tomato;
}

#postListingBtn {
	margin-top: 20px;
	margin-right: 6px;
	float: right;
}

.modal-body input,
.modal-body select {
	float: right;
	width: 400px;
}

#searchBox {
	position: absolute;
	left: 14.4%;
	top: 15%;
	width: 20%;
}
#resultDescription {
	position: absolute;
	top: 15%;
	left: 35%;
}