html {
  font-family: 'Lato', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}


body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;

  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

body form {
	font-weight: 300;	
	font-size: 22px;
}

body form .checkbox {
	padding-left: 20px;
	clear: both;
}

h2 {
	font-size: 36px;
	font-weight: 300;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px
}