body {
    background-color: #e74c3c;
    margin-left: 290px;
}

h1, h2, h3 {
    color: white;
    font-family: 'Lato', sans-serif;
}
h1 {
    margin-top: 200px;
    font-weight: 300;
    font-size: 45px;
}
h2 {
    font-size: 20px;
}

.form-netid {
    height: 42px;
    font-size: 18px;
    padding-left: 5px;

    width: 80px;
}
.form-password {
    height: 42px;
    font-size: 18px;
    padding-left: 5px;

    width: 225px;
    margin-top: 10px;
}
.form-atcornell {
    color: white;
    font-size: 25px;
    text-shadow: 0 0 7px black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

form button { 
    margin-top: 10px;
    color: #ffffff;
    background-color: #9e9e9e;
    border-color: #b8b8b8;
    height: 45px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.5;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
}
form button:hover {
    color: #333333;
    background-color: #b8b8b8;
    border-color: #9e9e9e;
}

.laptopimage {
    float: right;
    margin-right: 100px;
    margin-top: 120px;
}

.error_message {
    position: relative;
    padding: 0% 0% 0% 0%;
    height: 20%;
    width: 30%;
    left: -.7%;
}