<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    {% csrf_token %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    <title>Pi Market</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style = "margin: 0 auto";>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><font size="6">Pi Market</font></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">skv24@cornell.edu<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings</a></li>
            <li class="divider"></li>
            <li><a href="#">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="margin-top: 25px">
                <li class="sidebar-brand"></li>
                <li><a id="textbooks" href="/textbooks"><h2>Textbooks</h2></a></li>
                <li><a id="tickets" href="/tickets"><h2>Tickets</h2></a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper"> <!--PUT ALL PAGE CONTENT HERE-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <br><br>
                        

                        <div class="well well-lg">
                            <!-- <div class="panel-body"> -->
                            <span>type:</span>
                            <form id="filters" class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                            
                            {% for subg in subgroups %}

                                <input type="checkbox" value="{{ subg.pk }}"/><span class="checkbox-text">{{ subg.name }}</span>
                            {% endfor %}
                            
                            </form>

                            <span>location:</span>

                            <form id="locations" class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                            {% for loc in locations %}
                                <input type="checkbox" value="{{ loc.pk }}"/><span class="checkbox-text">{{ loc.name }}</span>
                            {% endfor %}
                            </form>
                            <!-- </div> -->
                        </div>
                        
                        <!-- <div class="well well-sm">
                            <form id="filters">
                            </form>
                        </div> -->
                    
                        <div id="sorts" class="btn-group">
                        </div>
                        <br><br>
                        <!-- <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p> -->
                        <p></p>
                        <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                        <!-- <div class="list-group">
                            <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">CHEM 3750 Textbook</h4>
                            <p class="list-group-item-text">Buy from Sachin plz<br>Price: $$$<br>Condition: new as fuq</p>
                            </a>
                            <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">BTRY 3080 Textbook</h4>
                            <p class="list-group-item-text">Buy from Sachin again</p>
                            </a>
                            <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">PHYS 2207 Lab Manual</h4>
                            <p class="list-group-item-text">New!</p>
                            </a>
                        </div> -->

                        <!-- Table -->
                        <!-- <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th data-field="id">Item ID</th>
                                    <th data-field="name">Item Name</th>
                                    <th data-field="price">Item Price</th>
                                </tr>
                            </thead>                      
                        </table> -->
                        <div id="listings">
                        </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="{% static 'js/jquery-1.11.0.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <!-- Database Requests -->
    <script src="{% static 'js/requests.js' %}"></script>

    <!-- Menu Toggle Script -->
     <script>
    // $("#menu-toggle").click(function(e) {
    //     e.preventDefault();
    //     $("#wrapper").toggleClass("toggled");
    // });
    // </script>

</body>

</html>