<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>


    {% load staticfiles %}

    <title>Pi Market</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    </i>  <span class="light">pi market @ cornell university
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">log in/register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><span style=" right:50px; background: tomato; padding: 0px 35px 12px 35px; border-radius: 100px;">&pi;</span> market</h1>

                        <p class="intro-text">join the modern marketplace</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <!-- <div class="row"> -->
            <h1>log in or register</h1><br><br>
                <form method='POST' action=''> {% csrf_token %}
                    {{ form.username }}<span class="form-atcornell"> @cornell.edu</span><br>
                    <br>
                    {{ form.password }}<br><br>
                    {% if messages %}
                    <div class="error_message">
                        {% for message in messages %}
                        <h3{% if message.tags == 'error' %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
                        {% endfor %}
                    </div>
                    {% endif %}
                     <button type="submit" value="Login" name="Login" class="btn">Login</button>
                     <button type="submit" value="Register" name="Register" class="btn">Register</button>
                </form>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <img src="http://forthebadge.com/badges/built-with-love.svg">
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="{% static 'js/jquery-1.11.0.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/grayscale.js' %}"></script>

</body>

</html>

<!-- ======= -->
<!-- <!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>Pi Market</title>
	<meta charset="utf-8"/>
	<link rel='stylesheet' type="text/css" href="{% static 'css/login.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
</head>
<body>
	<div style="height:20px; color: white; font-size: 30px; font-family: Lato"><span style="color: #fff; background: #0174DF; border-radius: 20px; padding: 0px 10px;">&Pi;</span>Market@Cornell University</div>
	<img id="laptopimage" src="{% static 'img/laptopimage.jpg' %}"/>
	<h1>Join the Modern<br>Marketplace</h1>
	<form method='POST' action=''> {% csrf_token %}
		{{ form.username }}<span class="form-atcornell"> @cornell.edu</span><br>
		{{ form.password }}<br>
		{% if messages %}
		<div class="error_message">
    		{% for message in messages %}
    		<h3{% if message.tags == 'error' %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
    		{% endfor %}
		</div>
		{% endif %}
		 <button type="submit" value="Login" name="Login" class="btn">Login</button>
		 <button type="submit" value="Register" name="Register" class="btn">Register</button>
	</form>
</body>
</html> -->
