<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>Pi Market</title>
	<meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
</head>
<body>
	<h2>Pi Market @ Cornell University</h2>
	<img class="laptopimage" src="{% static 'img/laptopimage.jpg' %}"></img>
	<h1>Join the Modern<br>Marketplace</h1>
	<form method='POST' action=''> {% csrf_token %}
		{{ form.username }}<span class="form-atcornell"> @cornell.edu</span><br>
		{{ form.password }}<br>
		{% if messages %}
		<div class="error_message">
    		{% for message in messages %}
    		<h3{% if message.tags == 'error' %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
    		{% endfor %}
		</div>
		{% endif %}
		 <button type="submit" value="Login" name="Login" class="btn">Login</button>
		 <button type="submit" value="Register" name="Register" class="btn">Register</button>
	</form>


<!-- 	<form>
		<input type="text" class="form-netid" placeholder="Net ID"><span class="form-atcornell"> @cornell.edu</span><br>
		<input type="password"  class="form-password" placeholder="Password"><br>
		<button type="submit" class="btn">Login</button>
		<button type="submit" class="btn">Register</button>
	</form> -->
</body>
</html>