<!DOCTYPE html>
<head>
	{% load staticfiles %}
	<link rel="shortcut icon" href="http://www.clker.com/cliparts/1/A/W/q/h/h/orange-circle-hi.png">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>
    <title>Pi Market</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>
</body>
 Name: {{ name }} <br>
 Email: {{ email }} <br>
 Recent Posts: <br>
 Recent Asks: <br>

<body>